
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Text to speech
tts:
  - platform: google_translate

#logger:
#  default: error
#  logs:
#    custom_components.radarr_upcoming_media: debug
#     custom_components.asyncpioneer: debug

additional_ca:
  my_private_ca: !secret SSL_Certificate

lovelace:
  mode: storage
  dashboards:
    lovelace-visual:
      mode: yaml
      title: Visual
      icon: mdi:floor-plan
      show_in_sidebar: true
      filename: visual.yaml
    lovelace-remote:
      mode: yaml
      title: Remote
      icon: mdi:remote-tv
      show_in_sidebar: true
      filename: remote-main.yaml

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
template: !include_dir_merge_list sensors/

sensor:
  - platform: time_date
    display_options:
      - 'time'
      - 'date'
      - 'date_time'
      - 'date_time_utc'
      - 'date_time_iso'
      - 'time_date'
      - 'time_utc'
    # - 'beat'

homeassistant:
  customize: !include customize.yaml
  auth_providers:
    - type: homeassistant
    - type: trusted_networks
      trusted_networks:
        - 10.81.19.0/24
      trusted_users:
        10.81.19.91: b10394b57f24478ba674a837f57158be
        10.81.19.92: e73940ee9cb640aaa6f08ba02e88a54c
        10.81.19.93: b10394b57f24478ba674a837f57158be
        10.81.19.94: ae55fdfcf7714f1485058190846c3c8a
      allow_bypass_login: true

media_player:
  - platform: asyncpioneer
    host: !secret AVR_Host
    port: !secret AVR_Port

trakt_tv:
  language: en
  timezone: Europe/Zurich
  sensors:
    anticipated:
      movie:
        exclude_collected: true
        max_medias: 10
      show:
        exclude_collected: true
        max_medias: 10

wake_on_lan:

frontend:
  themes: !include_dir_merge_named themes/
  extra_module_url:
    - /hacsfiles/hass-hue-icons/hass-hue-icons.js
    - /hacsfiles/lovelace-card-mod/card-mod.js
    - /hacsfiles/lovelace-card-mod/card-mod.js?hacstag=190927524420

light:
  - platform: switch
    name: Panneau lumineux
    entity_id: switch.panneau_lumineux

  - platform: switch
    name: Terrasse Sol
    entity_id: switch.terrasse_sol

  - platform: switch
    name: Chevet Nanne
    entity_id: switch.chevet_nanne

  - platform: switch
    name: Chevet CDRX
    entity_id: switch.chevet_cdrx

  - platform: switch
    name: Guirlandes salon
    entity_id: switch.guirlandes_salon

  - platform: switch
    name: Grand totem
    entity_id: switch.grand_totem

  - platform: switch
    name: Petit totem
    entity_id: switch.petit_totem

  - platform: switch
    name: Spare switch 1
    entity_id: switch.spare_switch_1

  - platform: switch
    name: Spare switch 2
    entity_id: switch.spare_switch_2

  - platform: switch
    name: Spare switch 3
    entity_id: switch.spare_switch_3

  - platform: switch
    name: Spare switch 4
    entity_id: switch.spare_switch_4

  - platform: switch
    name: Manger Lampe
    entity_id: switch.manger_lampe

  - platform: switch
    name: Cuisine plafonnier
    entity_id: switch.cuisine_plafonnier

  - platform: switch
    name: Jumeaux prises
    entity_id: switch.jumeaux_prises

  - platform: switch
    name: Guest bathroom
    entity_id: switch.guest_bathroom

  - platform: switch
    name: Bathroom door
    entity_id: switch.bathroom_door

  - platform: switch
    name: Bathroom mirror
    entity_id: switch.bathroom_mirror

  - platform: switch
    name: Escalier cave
    entity_id: switch.escalier_cave

  - platform: switch
    name: Amis prises
    entity_id: switch.amis_prises

  - platform: switch
    name: Amis plafonnier
    entity_id: switch.amis_plafonnier

  - platform: switch
    name: Guirlandes verriere
    entity_id: switch.salon_guirlandes_verriere

  - platform: switch
    name: Guirlandes crystal
    entity_id: switch.salon_guirlandes_crystal

  - platform: switch
    name: Guirlandes Noel
    entity_id: switch.salon_guirlandes_noel

  - platform: switch
    name: Entrée
    entity_id: switch.entree

  - platform: switch
    name: Escalier 1er
    entity_id: switch.escalier_haut

  - platform: group
    name: Cuisine
    entities:
    - light.cuisine_deco
    - light.cuisine_plafonnier

  - platform: group
    name: Salle à manger
    entities:
    - light.manger_lampe
    - light.manger_plafonnier

  - platform: group
    name: Salon blanc
    entities:
    - light.grand_totem
    - light.petit_totem
    - light.salon_plafonnier

  - platform: group
    name: Totems blanc
    entities:
    - light.petit_totem
    - light.grand_totem

  - platform: group
    name: Salon
    entities:
    - light.salon_plafonnier
    - light.totems_blanc
    - light.couleur_rez
    - light.vinyles
    - light.panneau_lumineux
    - light.guirlandes_verriere
    - light.guirlandes_crystal
#    - light.spare_switch_1
#    - light.spare_switch_2
#    - light.spare_switch_3
#    - light.spare_switch_4
#    - light.guirlandes_noel

  - platform: group
    name: Salon déco
    entities:
    - light.grand_totem_deco
    - light.panneau_lumineux
    - light.petit_totem_deco
    - light.vinyles
    - light.bar
    - light.guirlandes_verriere
    - light.guirlandes_crystal
    # - light.spare_switch_1
    # - light.spare_switch_2
    # - light.spare_switch_3
    # - light.spare_switch_4
    # - light.guirlandes_noel

#  - platform: group
#    name: Noel
#    entities:
#      - light.spare_switch_1
#      - light.spare_switch_2
#      - light.spare_switch_3
#      - light.spare_switch_4
#      - light.guirlandes_noel

  - platform: group
    name: Terrasse
    entities:
    - light.terrasse_sol
    - light.terrasse_3

  - platform: group
    name: Chambre parents
    entities:
    - light.lit_parents_blanc
    - light.lit_parents_couleur
    - light.chevet_cdrx
    - light.chevet_nanne
    - light.plafond_parents_blanc
    - light.plafond_parents_couleur

  - platform: group
    name: Chambre Charles
    entities:
    - light.charles_bas_white
    - light.charles_haut_white

  - platform: group
    name: Couleur Rez
    entities:
    - light.petit_totem_deco
    - light.grand_totem_deco
    - light.bar

  - platform: group
    name: Amis
    entities:
    - light.amis_prises
    - light.amis_plafonnier

  - platform: group
    name: Jumeaux
    entities:
    - light.jumeaux_prises
    - light.jumeaux_armoires_blanc

  - platform: group
    name: Salle de bains
    entities:
    - light.bathroom_door
    - light.bathroom_mirror

  - platform: group
    name: Couloir 1er
    entities:
    - light.escalier_haut
    - light.couloir_1
    - light.couloir_2

  - platform: group
    name: All lights
    entities:
    - light.cuisine_deco
    - light.cuisine_plafonnier
    - light.manger_lampe
    - light.manger_plafonnier
    - light.grand_totem
    - light.grand_totem_deco
    - light.petit_totem
    - light.petit_totem_deco
    - light.salon_plafonnier
    - light.panneau_lumineux
    - light.vinyles
    - light.bar
    - light.terrasse_sol
    - light.terrasse_3
    - light.lit_parents_blanc
    - light.lit_parents_couleur
    - light.chevet_cdrx_4
    - light.chevet_nanne_3
    - light.charles_bas_white
    - light.charles_haut_white
    - light.guirlandes_crystal
    - light.guirlandes_verriere
#   - light.spare_switch_1
#   - light.spare_switch_2
#   - light.spare_switch_3
#   - light.spare_switch_4
#    - light.guirlandes_noel
